<div style="background:#333333;color:#ffffff;"><font face="monospace">
<font color="#ffff00">&nbsp;1 </font><font color="#f0e68c"><b>class</b></font>&nbsp;<font color="#98fb98">Task</font>(GObject):<br>
<font color="#ffff00">&nbsp;2 </font>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f0e68c"><b>def</b></font>&nbsp;<font color="#98fb98">execute</font>(self):<br>
<font color="#ffff00">&nbsp;3 </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">&nbsp;4 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Performs the actual task.&nbsp;&nbsp;Subclasses may override this</font><br>
<font color="#ffff00">&nbsp;5 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;method or simply set the task delegate and it will be</font><br>
<font color="#ffff00">&nbsp;6 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;executed for you.</font><br>
<font color="#ffff00">&nbsp;7 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">&nbsp;8 </font>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f0e68c"><b>def</b></font>&nbsp;<font color="#98fb98">cancel</font>(self):<br>
<font color="#ffff00">&nbsp;9 </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">10 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancels the task.&nbsp;&nbsp;It is up to the execute() method to</font><br>
<font color="#ffff00">11 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;check the state to see if it has been cancelled.</font><br>
<font color="#ffff00">12 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">13 </font>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f0e68c"><b>def</b></font>&nbsp;<font color="#98fb98">add_callback</font>(self, callback, *args):<br>
<font color="#ffff00">14 </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">15 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adds a new handler to the post-processing chain.&nbsp;&nbsp;The handler </font><br>
<font color="#ffff00">16 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is a callback type which means the task or previous handler</font><br>
<font color="#ffff00">17 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;must have returned cleanly for the callback to be called.</font><br>
<font color="#ffff00">18 </font><br>
<font color="#ffff00">19 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;callback is called with the extra arguments passed.</font><br>
<font color="#ffff00">20 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">21 </font>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f0e68c"><b>def</b></font>&nbsp;<font color="#98fb98">add_errback</font>(self, errback, *args):<br>
<font color="#ffff00">22 </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">23 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adds a new handler to the post-processing chain.&nbsp;&nbsp;The handler</font><br>
<font color="#ffff00">24 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is a errback type which means the task, previous callback, or</font><br>
<font color="#ffff00">25 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;previous errback must have returned uncleanly, leaving an error</font><br>
<font color="#ffff00">26 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for the current state of the task.</font><br>
<font color="#ffff00">27 </font><br>
<font color="#ffff00">28 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;See also: g_task_set_error().</font><br>
<font color="#ffff00">29 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">30 </font>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f0e68c"><b>def</b></font>&nbsp;<font color="#98fb98">add_dependency</font>(self, task):<br>
<font color="#ffff00">31 </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">32 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adds a task as a dependency for the task's execution.&nbsp;&nbsp;This</font><br>
<font color="#ffff00">33 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;means that the task will continue to be in the G_TASK_WAITING</font><br>
<font color="#ffff00">34 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;state until the dependent tasks have completed.</font><br>
<font color="#ffff00">35 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">36 </font>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f0e68c"><b>def</b></font>&nbsp;<font color="#98fb98">remove_dependency</font>(self, task):<br>
<font color="#ffff00">37 </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
<font color="#ffff00">38 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Removes a task from being a dependency for the task.&nbsp;&nbsp;If</font><br>
<font color="#ffff00">39 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;no more dependencies exist and the task has previously been</font><br>
<font color="#ffff00">40 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;scheduled, it will be executed.</font><br>
<font color="#ffff00">41 </font><font color="#ffa0a0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><span style="background-color: #333333"><font color="#ffffff">&quot;&quot;&quot;</font></span><br>
</font></div>
