<div style="background:#ffffff;color:#000000;"><font face="monospace">
<font color="#a52a2a">&nbsp;1 </font><font color="#0000ff">static</font>&nbsp;GValue*<br>
<font color="#a52a2a">&nbsp;2 </font>read_contents (GTask *self, gpointer user_data)<br>
<font color="#a52a2a">&nbsp;3 </font>{<br>
<font color="#a52a2a">&nbsp;4 </font>&nbsp;&nbsp;<font color="#0000ff">const</font>&nbsp;<font color="#0000ff">char</font>&nbsp;*filename = user_data;<br>
<font color="#a52a2a">&nbsp;5 </font>&nbsp;&nbsp;<font color="#ff0000">// ...</font><br>
<font color="#a52a2a">&nbsp;6 </font>&nbsp;&nbsp;<font color="#a52a2a">return</font>&nbsp;<font color="#ff00ff">NULL</font>;<br>
<font color="#a52a2a">&nbsp;7 </font>}<br>
<font color="#a52a2a">&nbsp;8 </font><br>
<font color="#a52a2a">&nbsp;9 </font><font color="#0000ff">int</font><br>
<font color="#a52a2a">10 </font>main (<font color="#0000ff">int</font>&nbsp;argc, <font color="#0000ff">char</font>&nbsp;*argv[])<br>
<font color="#a52a2a">11 </font>{<br>
<font color="#a52a2a">12 </font>&nbsp;&nbsp;GTask *task = g_task_new (read_contents, <font color="#ff00ff">&quot;/etc/passwd&quot;</font>, <font color="#ff00ff">NULL</font>);<br>
<font color="#a52a2a">13 </font>&nbsp;&nbsp;<font color="#ff0000">// ...</font><br>
<font color="#a52a2a">14 </font>&nbsp;&nbsp;<font color="#a52a2a">return</font>&nbsp;<font color="#ff00ff">0</font>;<br>
<font color="#a52a2a">15 </font>}<br>
</font></div>
